<div class="sidebar">
    <div class="logo-upper"><img class="logo" src="Assets/recycling.png" alt=""></div>
    <div class="company">
      <div class="company-name">JunkAlly</div>
      <div class="company-description">Dashboard</div>
    </div>
    <nav class="navigation">
      <ul>
        <li><i class="fa-solid fa-user"></i><a href="/<%= user.role %>">
            <%= user.name %>
          </a></li>
        <li><i class="fa-solid fa-power-off"></i><a href="/logout">Log out</a></li>
      </ul>
    </nav>
  </div>