<%- include("partials/header.ejs"); %>
<div class="home-main">     
    <div class="container-fluid">
         <div class="row heading">
            <div class="col-lg-6">
                <div class="heading-content" data-aos="fade-right">
                    <h1>Power up to save the <span>environment</span></h1>
                    <h4>Reuse. Reduce. Recycle.</h4>
                 </div>
             </div>
            <div class="col-lg-6">
        <img data-aos="fade-left" src="/Assets/earth-header.png" alt="disposing">
        </div>
        </div>
    </div>
    <!-- <div class="about-desc">
            <h1 class="text-center">How We Work</h1>
    </div> -->
    <h1 data-aos="fade-right" style="text-align: center; font-weight: 600;">Why Recycle</h1>
    <div data-aos="fade-right" class="underline"></div>
    <div class="flexbox" data-aos="fade-right">
        <div class="flex flexbottom">
            <h1 class="stepNumber">01</h1>
            <div class="textbox">
                <p>Recycling conserves energy.</p>
            </div>
            <div class="imgbox">
                <img src="https://i.ibb.co/1qDPd5Y/green-energy.png" alt="">
            </div>
        </div>
        <div class="flex flextop">
            <div class="imgbox">
                <img src="https://i.ibb.co/CvSd9DQ/supplies.png" />
            </div>
            <h1 class="stepNumber">02</h1>
            <div class="textbox">
                <p>Recycling reduces our need for new raw materials.</p>
            </div>

        </div>
        <div class="flex flexbottom">
            <h1 class="stepNumber">03</h1>
            <div class="textbox">
                <p>Recycling creates jobs.</p>
            </div>
            <div class="imgbox">
                <img src="https://i.ibb.co/BBB9Dn9/job.png" alt="">
            </div>
        </div>
        <div class="flex flextop">
            <div class="imgbox">
                <img src="https://i.ibb.co/jkxPg3g/garbage.png" alt="">
            </div>
            <h1 class="stepNumber">04</h1>
            <div class="textbox">
                <p>Recycling keeps trash out of the landfills.</p>
            </div>

        </div>
        <div class="flex flexbottom">
            <h1 class="stepNumber">05</h1>
            <div class="textbox">
                <p>Recycling reduces pollution.</p>
            </div>
            <div class="imgbox">
                <img src="https://i.ibb.co/zRzptcg/planet-earth.png" alt="">
            </div>
        </div>

    </div>

    <%- include("recycle-section.ejs") %>
</div>
<%- include("partials/footer.ejs"); %>