<%- include("partials/header.ejs"); %>
<section class="work">
    <h1 data-aos="fade-right">Steps to Follow : Customer</h1>
    <div data-aos="fade-right" class="underline"></div>
    <div class="steps">
         <div class="step-customer img-active">
            <img src="https://img.freepik.com/free-vector/group-happy-people-picking-up-litter-while-jogging_179970-3183.jpg?size=626&ext=jpg">
            <p><span style="color: green;">Step 1</span>: Collect things that you no longer need</p>
         </div>

          <div class="step-customer">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/000/450/920/small_2x/22.jpg">
            <p><span style="color: green;">Step 2</span>: Raise a Request for pick up on our website</p>
         </div>

          <div class="step-customer">
            <img src="/Assets/step 3.jpg">
            <p><span style="color: green;">Step 3</span>: Pick-up arranged by us</p>
         </div>

          <div class="step-customer">
            <img src="https://img.freepik.com/free-vector/tiny-man-woman-with-big-open-wallet_74855-5943.jpg?size=626&ext=jpg">
            <p><span style="color: green;">Step 4</span>: Sit back and wait to receive incentives!</p>
         </div>
        
    </div>
    
    <div class="container">
        <div class="progress-container">
          <div class="progress" id="progress"></div>
          <div class="circle-customer active-customer"><span>1</span></div>
          <div class="circle-customer"><span>2</span></div>
          <div class="circle-customer"><span>3</span></div>
          <div class="circle-customer"><span>4</span></div>
        </div>
      </div>
        <button class="btn" id="prev-customer" disabled>Prev</button>
        <button class="btn" id="next-customer">Next</button>


      <h1 data-aos="fade-left" style="padding-top: 5rem;">Steps to Follow : Small Business</h1>
       <div data-aos="fade-left" class="underline"></div>
      <div class="steps">
         <div class="step-business img-active">
          <img src="https://media.istockphoto.com/vectors/warehouse-worker-character-scanning-barcode-carton-boxes-vector-vector-id1139547717?k=20&m=1139547717&s=612x612&w=0&h=LLgpjXSjmPT20EampkL01hEtKmoiL6fVlzYae21HCXE=">
            <p><span style="color: green;">Step 1</span>: Check out what we have in our inventory for you</p>
         </div>

          <div class="step-business">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/000/450/920/small_2x/22.jpg">
            <p><span style="color: green;">Step 2</span>: Raise a Request to avail items</p>
         </div>

          <div class="step-business">
            <img src="https://img.freepik.com/free-vector/way-concept-illustration_114360-1191.jpg?size=626&ext=jpg">
            <p><span style="color: green;">Step 3</span>: Delivery arranged by us</p>
         </div>

          <div class="step-business">
            <img src="https://img.freepik.com/free-vector/people-caring-about-world-environment_53876-40263.jpg?size=626&ext=jpg">
            <p><span style="color: green;">Step 4</span>: Recycle and save the environment! </p>
         </div>
        
    </div>
    
    <div class="container">
        <div class="progress-container">
          <div class="progress" id="progress1"></div>
          <div class="circle-business active-business"><span>1</span></div>
          <div class="circle-business"><span>2</span></div>
          <div class="circle-business"><span>3</span></div>
          <div class="circle-business"><span>4</span></div>
        </div>
      </div>
        <button class="btn" id="prev-business" disabled>Prev</button>
        <button class="btn" id="next-business">Next</button>

</section>
     
<%- include("partials/footer.ejs"); %>