<%- include("partials/header.ejs"); %>
    <div class="login-main">
        <div class="form-main">
            <img src="Assets/bg-01.png" class="form-illust" alt="log in or register">
            <form action="/login" method="post">
                <h1>Login</h1>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" autofocus required name="username" id="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" required name="password" id="password">
                </div>
                <button class="btn" type="submit">LOGIN</button>
            </form>
        </div>
    </div>
<%- include("partials/footer.ejs"); %>