<div class="recycle-now">
    <h1 data-aos="fade-left">What we Recycle</h1>
    <div data-aos="fade-left" class="underline"></div>
    <div class="materials">
        <div data-aos="fade-left">
            <img class="mat-icon"
                src="https://cdn-icons-png.flaticon.com/512/1039/1039782.png"
                alt="">
        </div>
        <div data-aos="fade-left">
            <img class="mat-icon"
                src="https://cdn-icons-png.flaticon.com/512/1039/1039781.png"
                alt="">
        </div>
        <div data-aos="fade-left">
            <img class="mat-icon"
                src="https://cdn-icons-png.flaticon.com/512/1039/1039780.png"
                alt="">
        </div>
        <div data-aos="fade-left">
            <img class="mat-icon"
                src="https://cdn-icons-png.flaticon.com/512/1039/1039778.png"
                alt="">
        </div>
    </div>
</div>