@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
:root{
    --blue: #2d3092;
    --dark-grey: #757575;
    --light-grey: #f4f4f4;
    --green: #5ab2b3;
    --yellow: #e9c861;
    --font-sans: 'Montserrat', sans-serif;
    --font-sans2: 'Poppins', sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-sans2);
}

nav {
    width: 90vw;
    border-radius: 5px;
    margin: 50px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: rgba(191, 227, 149, 0.358); */
    background: rgba(143, 241, 233, 0.167);
    padding: 1rem 2vw;
    position: absolute;
    left: 5vw;
}
nav .logo {
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    width: 3vw;

}
nav .link-box {
    display: flex;
    gap: 15px;
    justify-content: space-around;
}
nav .link-box .link-item {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 7px 18px;
}
nav .link-box .link-item:hover {
    background-color: var(--green);
}
nav .link-box .link-item:hover > .link {
    transform: translateY(-100px);
}
nav .link-box .link-item:hover > .link-icon {
    transform: translateY(-10px);
}
nav .link-box .link-item .link {
    transform: translateY(9px);
    transition: 0.5s ease;
    color: black
    
    ;
}
nav .link-box .link-item .link-icon {
    transform: translateY(-70px);
    transition: 0.5s ease;
    font-size: 20px;
    color: white;
}
nav .mob-box {
    background: #0d2f3d;
    padding: 7px 18px;
    height: 58px;
    width: 78px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
nav .mob-box .mob-icon .bar {
    color: white;
    font-size: 28px;
}
.active {
    display: flex !important;
}

@media (max-width: 630px) {
    nav {
        justify-content: space-between;
   }
    nav .mob-box {
        display: flex;
   }
    .link-box {
        position: absolute;
        border-radius: 5px;
        flex-direction: column;
        display: none;
        top: 100px;
        width: 100%;
        left: -200%;
        height: 70vh;
        background: var(--green);
        transition: left 1s;
   }
    nav .link-box .link-item {
        border-radius: 0;
   }
   nav .logo{
       width: 13vw;
   }
   nav .link-box .link-item .link{
       font-size: 1.5rem;
   }
}
/* @media (min-width: 630px) {
    nav .link-box {
        display: flex !important;
   }
} */
.nav_active{
    display: block;
    left: 0;
    transition: 1s;
}
/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-sans);
}
nav {
    position: absolute;
    display: flex;
    width: 90%;
    left: 5%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 3vw;
}
nav ul{
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-around;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: .8rem;
    font-weight: 500;
}
nav ul li a:hover{
    color: #555;
}
.logo{
    width: 3vw;
}
.signup{
    background-color: var(--green);
    color: #fff;
    padding: .5vw 1vw;
    border-radius: 2vw;
}
.signup:hover{
    background-color: var(--yellow);
    color: #fff;
} */