.home-main{
  overflow: hidden;
}

.heading {
  text-align: center;
  padding-top: 4rem;
}

/* .container-fluid {
  background-image: url('/Assets/header.png');
  height: 100vh;
  margin-bottom: 60px;
} */

.heading img {
  height: 27rem;
  /* width:  /; */
  margin-top: 20%;
  margin-bottom: 7rem;
  object-fit: cover;
}

.heading-content {
  text-align: left;
  margin: 13rem 0 2rem 6rem;
}

.heading-content span{
color: green;
}

.heading-content h1 {
  font-family: var(--font-sans);
  font-size: 3rem;
  line-height: 1.2;
  letter-spacing: 0.05rem;
  border-bottom: solid 0.15rem;
  padding-bottom: 4%;
  font-weight: 700;
}

.heading-content h4 {
  font-family: var(--font-sans2);
  font-size: 1.8rem;
  line-height: 1;
  letter-spacing: 0.05rem;
  padding-bottom: 1.4rem;
  margin: 5% 0 1%;
}

/* INFOGRAPHICS */
.flexbox img {
  width: 100%;
}

.flexbox {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: 10%;
  margin-bottom: 60px;
  margin-top: 20px;
}

.flexbox .flex {
  width: 16%;
  display: flex;
  flex-direction: column;
  padding: 4%;
  justify-content: center;
}

.flexbox .flexbottom {
  border-bottom: 6px solid #009688;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.flexbox .flextop {
  border-top: 6px solid #009688;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.flexbox .flextop:before {
  /* content: '';
  width: 1px;
  height: 250px;
  background: #009688; */
  position: absolute;
  left: 0;
  /* border-radius: 64px; */
}

.flexbox .flextop:after {
  position: absolute;
  right: 0;
}

.flexbox .flexbottom {
  box-shadow: inset 0px -20px 0px #03a999;
}

.flexbox .flex .flextop {
  box-shadow: inset 0px 20px 0px #03a999;
}

.flexbox .stepNumber {
  width: 100%;
  text-align: center;
  border: 1px solid orange;
  border-radius: 50px 0px 50px 0px;
  background: orange;
  color: white;
  margin-top: 5px;
}

.flexbox p {
  text-align: center;
}
@media (max-width: 630px){
  .heading-content{
    margin: 40vw 0;
  }
}