:root{
    --blue: #2d3092;
    --dark-grey: #757575;
    --light-grey: #f4f4f4;
    --green: #5ab2b3;
    --yellow: #e9c861;
    --font-sans: 'Montserrat', sans-serif;
    --font-sans2: 'Poppins', sans-serif;
}
.recycle-now, .process{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--font-sans);
    margin: auto 0 10vh;
    min-height: 50vh;
}
.recycle-now h1, .process h1{
    font-weight: 600;
}
.materials{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-evenly;
}

.materials a{
    text-decoration: none;
}

.mat-icon {
    width: 10vw;
    transition: .5s;
}

.mat-icon:hover {
    transform: scale(1.2);
    cursor: pointer;
}
@media (max-width: 630px){
    .materials{
        flex-direction: column;
    }
    .mat-icon{
        width: 20vw;
        margin: 5vw 0;
    }
}